{% extends 'layout.html' %}

{% block content %}
  <div id="showcase">
    {% if session.logged_in == Null %}
        <span class="small-text">Welcome To Bookshelf</span>
        <!-- <h2 class="large-text">
          You can Search in Our database of 5000 books to search for your
          interest book Also you can leave Reviews and See other Review.
        </h2> -->
        <h2 class="large-text">plunge into the wonderful</h2>
        <h2 class="large-text">world of reading</h2>
        <div>
          <a href="/register" class="btn btn-primary btn-lg mr-4">Join US</a>
          <a href="/login" class="btn btn-success btn-lg">Sign Up</a>
        </div>
      {% else %}
        <h1 class="title">Reading is fascinating, find your favorite book now.</h1>
     {% endif%}
  </div>
  <div class="container mt-4" id="about">
      <h1 class="text-center">Our Features</h1>
    <div class="row">
        <div class="col-md-4">
            
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>

      <div class="col-md-6 pr-5">
        <h3 class="pb-4 mb-4 font-italic border-bottom">
          Deciding what to read next?
        </h3>
        <p>
          You’re in the right place. Tell us what ISBN , titles or author you have enjoyed
          in the past, and we’ll give you surprisingly insightful recommendations.
        </p>
      </div>
      <div class="col-md-6 pr-5">
        <h3 class="pb-4 mb-4 font-italic border-bottom">
          What are your friends reading?
        </h3>
        <p>
          Chances are your friends are discussing their favorite
          (and least favorite) books on Goodreads.
          <br><strong>Want to learn more?</<strong> <a href="/dashboard" class="tour-link">Take the tour.</a>
        </p>
      </div>
    </div>
  </div>
{% endblock content %}
